*{
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

header {
    background-color: #132235;
    width: auto;
}










@media screen and (max-width: 480px){
    .containerCabecalho{
        width: 375px;
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .logo {
        width: 159px;
        height: 39px;
        padding-left: 7px;
    }

    .menu {
        padding-right: 20px;
    }

    .containerMain1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0 auto;

    }

    .titulo {
        padding: 20px;
        font-size: 45px;
        font-family: 'Open Sans';
        font-weight: bold;
    }

    .subtitulo1 {
        padding: 20px;
        font-family: 'Open Sans';
        font-size: 16px;
    }

    .botao {
        width: 335px;
        height: 36px;
        border-radius: 10px;
        background-color: #132235;
        color: #6ddad3;
        font-size: 20px;
        font-weight: 700;
        border-color: #132235;
    }

    .containerMain2 {
        background-color: #132235;
        color: #ffffff;
        font-family: 'Open Sans';
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .subtitulo2 {
        font-size: 24px;
        padding: 18px;
        font-weight: 700;
    }

    .texto1 {
        font-size: 16px;
        font-weight: 400px;
        padding: 0 18px 18px 18px;
    }






}
